<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.iq.happycalendarandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_happy_calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ToDoListActivity"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".data.TodosProvider"
            android:authorities="br.com.iq.happycalendarandroid.todosprovider"
            android:exported="false" />

        <activity android:name=".activity.CategoryActivityOld" />
        <activity android:name=".activity.CategoryActivity" />
        <activity
            android:name=".fragment.FloatButtonActivity"
            android:label="@string/title_activity_float_button"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.AddCategoryActivity" />
        <activity android:name=".activity.AddBacklogActivity" />
        <activity android:name=".activity.BacklogActivity" />
        <activity android:name=".google_drive.CloudBackup" />
    </application>

</manifest>